body{
    background-color: #9C6868;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-table{
    border-collapse: collapse; /* remove the margin around each border */ 
    width: 70%;
}

#book-table td, #book-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }


#book-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

#book-table tr:nth-child(even){
    background-color: #ff0000;
}


.add-new-book{
    position: absolute;
    bottom: 1%;
    right: 1%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}