body{
    background-color: #9C6868;
}

.grid-container{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    width: 100px;
    height: 100px;
    border: 1px solid black; /* temp - remove later */
}

.add-new-book{
    position: absolute;
    bottom: 1%;
    right: 1%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}